
    .small-toast{
        padding: 10px 20px !important;
    }
   .small-toast .swal2-title {
       font-size: 16px; /* smaller text */
       line-height: 1.2; /* optional, adjust spacing */
    }

   .small-toast .swal2-icon {
       width: 12px;   /* optional: smaller icon */
       height: 12px;
    }
